<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio - Nome do Restaurante</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <h2 id="restaurant-name-header">Nome Restaurante</h2>
    </header>

    <main class="menu-container">
        <h1>Cardápio</h1>

        <section id="comidas-tipicas" class="menu-section">
            <h2>Comidas Típicas:</h2>
            <div id="lista-comidas" class="menu-list">
                </div>
        </section>

        <section id="bebidas" class="menu-section">
            <h2>Bebidas:</h2>
            <div id="lista-bebidas" class="menu-list">
                </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2025 - Todos os direitos reservados para <span id="restaurant-name-footer">nome_do_restaurante</span></p>
    </footer>

    <script src="../scripts/scripts.js"></script>
</body>
</html>